@tailwind base;
@tailwind components;
@tailwind utilities;

/* साइड का फालतू स्क्रॉल बार छिपाने के लिए */
html, body {
  overflow-x: hidden;
  max-width: 100%;
}

/* अगर ब्राउज़र का मेन वर्टिकल स्क्रॉल बार भी अजीब लग रहा हो तो उसे सुंदर बनाने के लिए */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #111111;
}
::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 10px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
